################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Valkyrie2.0/.vs/Valkyrie2.0/v16
