################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Valkyrie2.0/.vs/Valkyrie2.0/v16
/Valkyrie2.0/x64/Debug
/Valkyrie2.0/Valkyrie2.0/x64/Debug
/Valkyrie2.0/Valkyrie2.0/x64/Release
/Valkyrie2.0/x64/Release
/visual-q/visual-q/out
/visual-q/visual-q/Debug
/PythonWrapper/Debug
