@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.header {
    position: fixed;
    padding: 1px;
    padding-left: 40px;
    background: #000046;
    width: 100%;
    height: 120px; 
    color: white;
    z-index: 1;
  }
  .title-x{
    font-size: 60px;
    background: -webkit-linear-gradient(right, #ee0979, #ff6a00);
    font-family: 'Poppins', sans-serif; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .poppin{
    font-family: 'Poppins', sans-serif;  
  }

